@import '//sass/base/regles';

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$font-texte:roboto;
$font-titre-logo:shrikhand;

.header{
    text-align: center;
    margin-top: 1rem;
    &lieu{
        background-color:#d6d0d0;
        margin-top: 0.5rem;
        height: 3rem;
        box-shadow: 0px 3px 5px #b3b6ba inset;
        &__icone{
            padding-top: 0.8rem;
            font-size: 1.2rem;
            padding-left: 2rem;
        }
        &__recherche{
            background-color: #d6d0d0;
            border: transparent;
            padding-left: 0.7rem;
            &::placeholder{
                color: black;
                font-weight: bold;
                border: transparent;
            }
        }
    }
}

.intro{
    background-color: #f2f2f2;
    text-align: center;
    height: 18rem;
    &__titre{
        width: 75%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
    }
    &__soustitre{
        width: 75%;
        margin: auto;
        padding-top: 1rem;
    }
    &__btn{
        background:linear-gradient($couleur-secondaire, $couleur-primaire);
        border-color: linear-gradient($couleur-secondaire, $couleur-primaire);
        border-radius: 2rem;
        font-size: 1rem;
        margin-top: 2rem;
        color: white;
        box-shadow: 0px 5px 10px gray;
        height: 3rem;
        cursor: pointer;
    }
}

.fonctionnement{
    height: 22rem;
    &__titre{
        margin-top: 0;
        padding-top: 1rem;
        padding-left: 1rem; 
    }
    &__liste{
        padding-left: 1rem;
    }
}

.liste__item{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
    width: 95%;
    margin: 2rem 0rem;
    &--nombre{
        background-color: $couleur-primaire;
        color: white;
        border: 1px solid $couleur-primaire;
        border-radius: 3rem;
        width: 1.2rem;
        display: flex;
        justify-content: center;
        margin-left: -0.7rem;
    }
    &__icone{
        color: gray;
        font-size: 1.2rem;
        padding-left: 2rem;
    }
    &__texte{
        padding-left: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.restaurants{
    background-color: #f6f6f6;
    padding-bottom: 1rem;
    &__titre{
        margin-top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    }
}

.figure__menus{
    display: block;
    margin: 0 1rem;
}

.menus__carte{
    background-color: white;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.30);
    position: relative;
    &__img{
        width: 21.4rem;
        height: 12rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__nv{
        background-color: $couleur-tertiaire;
        color: #1b856c;
        font-weight: bold;
        width: 5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0.7rem;
        top: 0.9rem;
        border-radius: 0.2rem;
    }
    &__legende{
        position: relative;
    }
}

.menus__carte__legende__titre{
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
}

.menus__carte__legende__lieu{
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 9px 0px;
}

.menus__carte__legende__coeur{
    font-size: 1.2rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.footer{
    background-color: #353535;
    color: white;
    padding-bottom: 1rem;
    &__titre{
        margin: 0;
        padding-top: 1rem;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        font-family: $font-titre-logo;
    }
    &__liste{
        list-style-type: none;
        margin-top: 1rem;
        padding-left: 1.5rem;
    }
}

.liste__lien{
    margin-bottom: 10px;
    &__icone{
        padding-right: 0.5rem;
    }
    &__direction{
        color: white;
        font-weight: bold;
    }
}