$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$font-texte:roboto;
$font-titre-logo:shrikhand;

//----MAP BREAKPOINTS----
$breakpoints: (
    iphone5:320px,
    tablette:768px,
    ordinateur:1280px,
);

@mixin iphone5 {
    @media screen and (max-width:map-get($breakpoints, iphone5)){
        @content;
    }
}

@mixin tablette {
    @media screen and (min-width:map-get($breakpoints, tablette)){
        @content;
    }
}

@mixin ordinateur {
    @media screen and (min-width:map-get($breakpoints, ordinateur)){
        @content;
    }
}

@keyframes loader {
    0%{
        color: $couleur-primaire;
        text-shadow: 0 0 7px $couleur-primaire;
    }

    40%{
        color: $couleur-tertiaire;
        text-shadow: 0 0 7px $couleur-tertiaire;
    }

    80%{
        color: $couleur-secondaire;
        text-shadow: 0 0 7px $couleur-secondaire;
    }

    100%{
        color: $couleur-primaire;
        text-shadow: 0 0 7px $couleur-primaire; 
    }
}

@keyframes loaderdisparition {
    100%{
        z-index: -1000;
        opacity: 0;
    }
}


body{
    margin: 0 auto;
    max-width: 2300px;
    font-size: 1rem;
    font-family: $font-texte, $font-titre-logo, sans-serif, Arial;
    @include tablette{
        font-size: 1.2rem;
    }
    @include ordinateur{
        font-size: 1.2rem;
    }
}

a{
    text-decoration: inherit;
    color: black;
}

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.9);
    z-index: 1000;
    animation: loaderdisparition 3.5s ease-in-out 3.1s forwards;
    &__lettre{
        color: $couleur-primaire;
        font-size: 2.5rem;
        letter-spacing: 0.9rem;
        animation: loader 3s linear 0.1s infinite;
        &:nth-child(1){
            animation-delay: 0.25s;
        }
        &:nth-child(2){
            animation-delay: 0.45s;
        }
        &:nth-child(3){
            animation-delay: 0.65s;
        }
        &:nth-child(4){
            animation-delay: 0.85s;
        }
        &:nth-child(5){
            animation-delay: 1.05s;
        }
        &:nth-child(6){
            animation-delay: 1.25s;
        }
        &:nth-child(7){
            animation-delay: 1.45s;
        }
        &:nth-child(8){
            animation-delay: 1.65s;
        }
        @include iphone5{
            font-size: 2rem;
        }
        @include tablette{
            font-size: 4rem;
        }
        @include ordinateur{
            font-size: 7rem;
        }
    }
}

//----HEADER----
.header{
    text-align: center;
    margin-top: 1rem;
    //----FORM----
    &lieu{
        background-color:#d6d0d0;
        margin-top: 0.5rem;
        height: 3rem;
        box-shadow: 0px 3px 5px #b3b6ba inset;
        &__icone{
            padding-top: 0.8rem;
            font-size: 1.2rem;
            padding-left: 2rem;
        }
        &__recherche{
            background-color: #d6d0d0;
            border: transparent;
            padding-left: 0.7rem;
            &::placeholder{
                color: black;
                font-weight: bold;
                border: transparent;
                font-size: 1rem;
            }
        }
    }
}
//----BRIEF DESCRIPTION DU SITE----
.intro{
    background-color: #f2f2f2;
    text-align: center;
    height: 18rem;
    &__titre{
        width: 75%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
    }
    &__soustitre{
        width: 75%;
        margin: auto;
        padding-top: 1rem;
        @include tablette{
            font-size: 1.2rem;
        }
        @include ordinateur{
            font-size: 1.2rem;
        }
    }
    &__btn{
        background:linear-gradient($couleur-secondaire, $couleur-primaire);
        border: 1px $couleur-primaire solid;
        border-radius: 2rem;
        font-size: 1rem;
        margin-top: 2rem;
        color: white;
        box-shadow: 0px 5px 10px gray;
        height: 3rem;
        cursor: pointer;
        padding: 0 15px;
        transition: 0.5s;
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7)
        }
    }
}
//----FONCTIONNEMENT DU SITE----
.fonctionnement{
    &__titre{
        margin-top: 0;
        padding-top: 1rem;
        padding-left: 1rem; 
        @include ordinateur{
            padding-left: 2rem;
        }
    }
    //----OL----
    &__liste{
        padding-left: 1rem;
        @include tablette{
            display: flex;
            width: 95%;
            margin: auto;
            flex-wrap: wrap;
            height: 15rem;
            padding-bottom: 1rem;
        }
        @include ordinateur{
            display: flex;
            width: 95%;
            margin: auto;
            flex-wrap: nowrap;
        }
    }
}
//----LI DE OL----
.liste__item{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.30);
    width: 95%;
    margin: 2rem 0rem;
    @include tablette{
        width: 45%;
        margin: auto;
    }
    @include ordinateur{
        width: 25%;
    }
    &--nombre{
        background-color: $couleur-primaire;
        color: white;
        border: 1px solid;
        border-radius: 3rem;
        width: 1.2rem;
        display: flex;
        justify-content: center;
        margin-left: -0.7rem;
    }
    &__icone{
        color: gray;
        font-size: 1.2rem;
        padding-left: 2rem;
        @include tablette{
            padding-left: 7rem;
        }
        @include ordinateur{
            padding-left: 3rem;
        }
    }
    &__texte{
        padding-left: 1.5rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
//----SECTION DES RESTAURANTS----
.restaurants{
    background-color: #f6f6f6;
    padding-bottom: 1rem;
    &__titre{
        margin-top: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    @include ordinateur{
        padding-left: 2rem;
    }
    }
}

.conteneur__figure{
    @include tablette{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 95%;
    }
    @include ordinateur{
        flex-wrap: nowrap;
        width: 100%;
    }
}
//----LIENS DE REDIRECTION----
.figure__menus{
    display: block;
    margin: 0 1rem;
}
//----FIGURE DES RESTAURANTS----
.menus__carte{
    background-color: white;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 1.5rem;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.30);
    position: relative;
    @include tablette{
        width: 288px;
    }
    &__img{
        width: 100%;
        height: 12rem;
        object-fit: cover;
        object-position: 50% 65%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__nv{
        background-color: $couleur-tertiaire;
        color: #1b856c;
        font-weight: bold;
        width: 5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0.7rem;
        top: 0.9rem;
        border-radius: 0.2rem;
    }
    &__legende{
        position: relative;
    }
}
//----TITRES/LIEUS/COEUR FIGCAPTION----
.menus__carte__legende__titre{
    margin: 0;
    padding-top: 1rem;
    padding-left: 1rem;
}

.menus__carte__legende__lieu{
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 9px 0px;
}

.menus__carte__legende__coeur{
    font-size: 1.5rem;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    &2{
        font-size: 1.5rem;
        position: absolute;
        right: 1.5rem;
        top: 1.5rem; 
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        opacity: 0;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transition: 0.5s;
        &:hover{
            opacity: 1;
        }
    }
}
//----FOOTER----
.footer{
    background-color: #353535;
    color: white;
    padding-bottom: 1rem;
    @include tablette{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    //----OHMYFOOD----
    &__titre{
        margin: 0;
        padding-top: 1rem;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        font-family: $font-titre-logo;
        @include tablette{
            padding-top: 3rem;
        }
    }
    //----UL----
    &__liste{
        list-style-type: none;
        margin-top: 1rem;
        padding-left: 1.5rem;
    }
}
//----LI DE UL----
.liste__lien{
    margin-bottom: 10px;
    &__icone{
        padding-right: 0.5rem;
    }
    &__direction{
        color: white;
        font-weight: bold;
    }
}