$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$font-texte:roboto;
$font-titre-logo:shrikhand;

//----MAP BREAKPOINTS----
$breakpoints: (
    iphone5:320px,
    tablette:768px,
    ordinateur:1280px,
);

@mixin iphone5 {
    @media screen and (max-width:map-get($breakpoints, iphone5)){
        @content;
    }
}

@mixin ordinateur {
    @media screen and (min-width:map-get($breakpoints, ordinateur)){
        @content;
    }
}

body{
    margin: 0 auto;
    max-width: 2300px;
    font-size: 1rem;
    font-family: $font-texte, $font-titre-logo, sans-serif, Arial;
}

a{
    text-decoration: inherit;
    color: black;
}

// ----HEADER PAGE MENU----
.header--pg{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    &__redirection{
        display: flex;
        align-items: center;
        text-decoration: inherit;
        color: black;
    }
    &__logo{
        order: 2;
    }
    &__icone{
        position: absolute;
        left: 1.3rem;
        font-size: 1.2rem;
    }
}
//----IMG PRINCIPALE----
.imgpg{
    width: 100%;
    height: 18rem;
    object-fit: cover;
    object-position: center;
    margin-top: 0.7rem;
    position: relative;
    z-index: auto;
    @include ordinateur{
        height: 25rem;
        object-position: 50% 60%;
    }
}
//----CONTENEUR GLOBAL DU MENU----
.menupg{
    background-color: #f6f6f6;
    position: relative;
    z-index: auto;
    width: 100%;
    margin-top: -3.3rem;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    //----CONTENEUR DE L'EN-TETE DU MENU----
    &__conteneur{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1.5rem;
        @include ordinateur{
            justify-content: center;
        }
    }
    &__titre{
        font-family: $font-titre-logo;
        @include ordinateur{
            padding-right: 3rem;
        }
    }
    &__coeur{
        font-size: 1.5rem;
    }
    &__coeur2{
        position: absolute;
        right: 1.5rem;
        top: 1.6rem;
        font-size: 1.5rem;
        background: linear-gradient($couleur-primaire, $couleur-secondaire);
        opacity: 0;
        color: transparent;
        -webkit-background-clip: text;
        transition: 0.5s;
        &:hover{
            opacity: 1;
        }
    }
}
//----CONTENEUR RESPONSIF SECTION ENTREES/PLATS/DESSERTS----
.conteneur__section{
    @include ordinateur{
        display: flex;
        justify-content: center;
    }
}
//----BLOCS ENTREES/PLATS/DESSERTS----
.section{
    @include ordinateur{
        width: 30%;
    }
}
//----TITRES ENTREES/PLATS/DESSERTS----
.section__titre{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: inherit;
    margin-left: 1rem;
    border-bottom: 3px $couleur-tertiaire solid;
    width: 10%;
    padding-bottom: 0.3rem;
}
//----DIVS DES ENTREES/PLATS/DESSERTS----
.section__choix{
    background-color: white;
    width: 94%;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 3px 3px 13px gray;
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    position: relative;
    &__titre{
        margin: 0;
        padding-left: 10px;
        padding-top: 10px;
    }
    &__description{
        padding-left: 10px;
        margin-top: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 17rem;
        @include iphone5{
            width: 14rem;
        }
        @include tablette{
            font-size: 1.2rem;
        }
        @include ordinateur{
            font-size: 1.2rem;
        }
    }
    &__prix{
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
    }
}
//----BOUTON COMMANDER----
.menupg__div__btn{
    text-align: center;
    &__btn{
        background:linear-gradient($couleur-secondaire, $couleur-primaire);
        border: 1px $couleur-primaire solid;
        border-radius: 2rem;
        font-size: 1rem;
        margin-top: 2rem;
        color: white;
        box-shadow: 0px 5px 10px gray;
        height: 3rem;
        cursor: pointer;
        width: 10rem;
        margin-bottom: 3rem;
        transition: 0.5s;
        &:hover{
            opacity: 0.9;
            box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7)
        }
    }
}
//----FOOTER----   
.footer{
    background-color: #353535;
    color: white;
    padding-bottom: 1rem;
    //----OHMYFOOD----
    &__titre{
        margin: 0;
        padding-top: 1rem;
        padding-left: 1.5rem;
        font-size: 1.5rem;
        font-family: $font-titre-logo;
    }
    //----UL----
    &__liste{
        list-style-type: none;
        margin-top: 1rem;
        padding-left: 1.5rem;
        @include tablette{
            font-size: 1.2rem;
        }
        @include ordinateur{
            font-size: 1.2rem;
        }
    }
}
//----LI DE UL----
.liste__lien{
    margin-bottom: 10px;
    &__icone{
        padding-right: 0.5rem;
    }
    &__direction{
        color: white;
        font-weight: bold;
    }
}