@keyframes mnapparition {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes coche {
  0% {
    transform: translateX(0px);
    opacity: 1;
    width: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
    width: 5rem;
  }
}
@keyframes prix {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-60px);
  }
}
@keyframes coche-icone {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes points {
  0% {
    width: 17rem;
  }
  100% {
    width: 14rem;
  }
}
@keyframes ptsiphone5 {
  0% {
    width: 14rem;
  }
  100% {
    width: 10rem;
  }
}
@keyframes loader {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
  40% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  80% {
    color: #FF79DA;
    text-shadow: 0 0 7px #FF79DA;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}
@keyframes loaderdisparition {
  100% {
    z-index: -1000;
    opacity: 0;
  }
}
body {
  margin: 0 auto;
  max-width: 2300px;
  font-size: 1rem;
  font-family: roboto, shrikhand, sans-serif, Arial;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 1.2rem;
  }
}

a {
  text-decoration: inherit;
  color: black;
}

.intro__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 1px #9356DC solid;
  border-radius: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: white;
  box-shadow: 0px 5px 10px gray;
  height: 3rem;
  cursor: pointer;
  padding: 0 15px;
  transition: 0.5s;
}
.intro__btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7);
}

.menupg__div__btn {
  text-align: center;
}
.menupg__div__btn__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border: 1px #9356DC solid;
  border-radius: 2rem;
  font-size: 1rem;
  margin-top: 2rem;
  color: white;
  box-shadow: 0px 5px 10px gray;
  height: 3rem;
  cursor: pointer;
  width: 10rem;
  margin-bottom: 3rem;
  transition: 0.5s;
}
.menupg__div__btn__btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7);
}

.menus__carte__legende__coeur {
  font-size: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.menus__carte__legende__coeur2 {
  font-size: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1.5s;
}
.menus__carte__legende__coeur2:hover {
  opacity: 1;
}

.menupg__coeur {
  font-size: 1.5rem;
}
@media screen and (min-width: 1280px) {
  .menupg__coeur {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
  }
}
.menupg__coeur:hover {
  opacity: 0;
}
.menupg__coeur2 {
  position: absolute;
  right: 1.5rem;
  top: 1.6rem;
  font-size: 1.5rem;
  background: linear-gradient(#9356DC, #FF79DA);
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: 1.5s;
}
@media screen and (min-width: 768px) {
  .menupg__coeur2 {
    position: absolute;
    right: 1.5rem;
    top: 2.1rem;
  }
}
@media screen and (min-width: 1280px) {
  .menupg__coeur2 {
    position: absolute;
    right: 5rem;
    top: 1.5rem;
  }
}
.menupg__coeur2:hover {
  opacity: 1;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1000;
  animation: loaderdisparition 3.5s ease-in-out 3.1s forwards;
}
.loader__lettre {
  color: #9356DC;
  font-size: 2.5rem;
  letter-spacing: 0.9rem;
  animation: loader 3s linear 0.1s infinite;
}
.loader__lettre:nth-child(1) {
  animation-delay: 0.25s;
}
.loader__lettre:nth-child(2) {
  animation-delay: 0.45s;
}
.loader__lettre:nth-child(3) {
  animation-delay: 0.65s;
}
.loader__lettre:nth-child(4) {
  animation-delay: 0.85s;
}
.loader__lettre:nth-child(5) {
  animation-delay: 1.05s;
}
.loader__lettre:nth-child(6) {
  animation-delay: 1.25s;
}
.loader__lettre:nth-child(7) {
  animation-delay: 1.45s;
}
.loader__lettre:nth-child(8) {
  animation-delay: 1.65s;
}
@media screen and (max-width: 320px) {
  .loader__lettre {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .loader__lettre {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .loader__lettre {
    font-size: 7rem;
  }
}

.menus__carte__nv {
  background-color: #99E2D0;
  color: #1b856c;
  font-weight: bold;
  width: 5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.7rem;
  top: 0.9rem;
  border-radius: 0.2rem;
  padding: 0.1rem;
  font-size: 0.9rem;
}
@media screen and (min-width: 1280px) {
  .menus__carte__nv {
    padding: 0.2rem;
  }
}

.header {
  text-align: center;
  margin-top: 1rem;
}
.headerlieu {
  background-color: #d6d0d0;
  margin-top: 0.5rem;
  height: 3rem;
  box-shadow: 0px 3px 5px #b3b6ba inset;
}
.headerlieu__icone {
  padding-top: 0.8rem;
  font-size: 1.2rem;
  padding-left: 2rem;
}
.headerlieu__recherche {
  background-color: #d6d0d0;
  border: transparent;
  padding-left: 0.7rem;
}
.headerlieu__recherche::placeholder {
  color: black;
  font-weight: bold;
  border: transparent;
  font-size: 1rem;
}

.header--pg {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.header--pg__redirection {
  display: flex;
  align-items: center;
  text-decoration: inherit;
  color: black;
}
.header--pg__logo {
  order: 2;
}
.header--pg__icone {
  position: absolute;
  left: 1.3rem;
  font-size: 1.2rem;
}

.footer {
  background-color: #353535;
  color: white;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.footer__titre {
  margin: 0;
  padding-top: 1rem;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  font-family: shrikhand;
}
@media screen and (min-width: 768px) {
  .footer__titre {
    padding-top: 3rem;
  }
}
.footer__liste {
  list-style-type: none;
  margin-top: 1rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer__liste {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__liste {
    font-size: 1.2rem;
  }
}

.liste__lien {
  margin-bottom: 10px;
}
.liste__lien__icone {
  padding-right: 0.5rem;
}
.liste__lien__direction {
  color: white;
  font-weight: bold;
}

.intro {
  background-color: #f2f2f2;
  text-align: center;
  height: 18rem;
}
.intro__titre {
  width: 75%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3rem;
}
.intro__soustitre {
  width: 75%;
  margin: auto;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .intro__soustitre {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1280px) {
  .intro__soustitre {
    font-size: 1.2rem;
  }
}

.fonctionnement__titre {
  margin-top: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  .fonctionnement__titre {
    padding-left: 2rem;
  }
}
.fonctionnement__liste {
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .fonctionnement__liste {
    display: flex;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
    height: 15rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .fonctionnement__liste {
    display: flex;
    width: 95%;
    margin: auto;
    flex-wrap: nowrap;
  }
}

.liste__item {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  width: 95%;
  margin: 2rem 0rem;
}
@media screen and (min-width: 768px) {
  .liste__item {
    width: 45%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .liste__item {
    width: 25%;
  }
}
.liste__item--nombre {
  background-color: #9356DC;
  color: white;
  border: 1px solid;
  border-radius: 3rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  margin-left: -0.7rem;
  padding: 0.2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .liste__item--nombre {
    width: 1.4rem;
  }
}
.liste__item__icone {
  color: gray;
  font-size: 1.2rem;
  padding-left: 2rem;
}
@media screen and (min-width: 1280px) {
  .liste__item__icone {
    padding-left: 3rem;
  }
}
.liste__item__texte {
  padding-left: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (min-width: 1695px) {
  .liste__item__texte {
    padding-left: 3rem;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 1rem;
}
.restaurants__titre {
  margin-top: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  .restaurants__titre {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .conteneur__figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .conteneur__figure {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.figure__menus {
  display: block;
  margin: 0 1rem;
}

.menus__carte {
  background-color: white;
  border-radius: 1rem;
  margin: 0;
  margin-bottom: 1.5rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}
@media screen and (min-width: 768px) {
  .menus__carte {
    width: 288px;
  }
}
.menus__carte__img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: 50% 65%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.menus__carte__legende {
  position: relative;
}

.menus__carte__legende__titre {
  margin: 0;
  padding-top: 1rem;
  padding-left: 1rem;
}

.menus__carte__legende__lieu {
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin: 9px 0px;
}

.imgpg {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  object-position: center;
  margin-top: 0.7rem;
  position: relative;
  z-index: auto;
}
@media screen and (min-width: 1280px) {
  .imgpg {
    height: 25rem;
    object-position: 50% 60%;
  }
}

.menupg {
  background-color: #f6f6f6;
  position: relative;
  z-index: auto;
  width: 100%;
  margin-top: -3.3rem;
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 1.7rem;
}
.menupg__conteneur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}
@media screen and (min-width: 1280px) {
  .menupg__conteneur {
    justify-content: center;
  }
}
.menupg__titre {
  font-family: shrikhand;
}
@media screen and (min-width: 1280px) {
  .menupg__titre {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .conteneur__section {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 30%;
  }
}

.section__titre {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: inherit;
  margin-left: 1rem;
  border-bottom: 3px #99E2D0 solid;
  width: 10%;
  padding-bottom: 0.3rem;
}

.section__choix {
  background-color: white;
  width: 94%;
  height: 4.5rem;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 3px 3px 13px gray;
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  position: relative;
  animation: mnapparition 2s ease-in-out 0.25s forwards;
}
.section__choix:hover .section__choix__coche {
  animation: coche 1.5s ease-in-out 0.5s forwards;
}
.section__choix:hover .section__choix__prix {
  animation: prix 1.1s ease-out 1s forwards;
}
.section__choix:hover .section__choix__coche__iconediv {
  animation: coche-icone 1.5s ease-in-out 0.5s forwards;
}
.section__choix:hover .section__choix__description, .section__choix:hover .section__choix__titre {
  animation: points 1.5s ease-in-out 0.75s forwards;
}
@media screen and (max-width: 320px) {
  .section__choix:hover .section__choix__description, .section__choix:hover .section__choix__titre {
    animation: ptsiphone5 1.5s ease-in-out 0.75s forwards;
  }
}
.section__choix__titre {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .section__choix__titre {
    overflow: initial;
  }
}
@media screen and (min-width: 1695px) {
  .section__choix__titre {
    overflow: initial;
  }
}
.section__choix__description {
  padding-left: 10px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 17rem;
}
@media screen and (max-width: 320px) {
  .section__choix__description {
    width: 14rem;
  }
}
@media screen and (min-width: 768px) {
  .section__choix__description {
    font-size: 1.2rem;
    overflow: initial;
  }
}
@media screen and (min-width: 1280px) {
  .section__choix__description {
    font-size: 1.2rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 1695px) {
  .section__choix__description {
    overflow: initial;
    font-size: 1.1rem;
  }
}
.section__choix__prix {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
}
.section__choix__coche {
  background: #99E2D0;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__choix__coche__iconediv {
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
}
.section__choix__coche__iconediv__icone {
  color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
