//----PARAMETRES DE BASE----
body{
    margin: 0 auto;
    max-width: 2300px;
    font-size: 1rem;
    font-family: $font-texte, $font-titre-logo, sans-serif, Arial;
    @include tablette{
        font-size: 1.2rem;
    }
    @include ordinateur{
        font-size: 1.2rem;
    }
}
a{
    text-decoration: inherit;
    color: black;
}